*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x:hidden;
}

#menu li > a {
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
}
#menu li > a:hover{
    color: blue;
}
#menu form > button{
    font-size: 18px;
    font-weight: bold;
}
.carousel-item{
    max-height: 35rem;
}
    
/* MEDIA QUERIES PANTALLA SM */
@media (max-width:768px) {
    #intro {
        width: 90% !important;
    }
    #bg-contacto {
        display: none;
    }
    /* #contenedor-formulario{
        
    } */
}

/*----------------------CONTACTOS BACKGROUND----------------------*/ 
#bg-contacto{
    position: relative;
    top:410px;
}

#seccion-contacto{
    padding-top: 2rem;
    background-color: #1b2a4e;
    min-height: 750px;
    position: relative;
    margin-top: 1em;
}

/*----------------CONTACTO FORMULARIO---------------*/ 

#contenedor-formulario{
    /* position: absolute; */
    /* top: 5%; */
    /* left: 35%; */
    margin: 5% auto;
    transform: translate(-50% -50%);
    background:#fbfafa;
    border-radius: 5px;
    max-width: 150px;
    max-width: 350px;
}
#titulo-formulario{
    color: #3f3f3f;
}
/* <----------------------- FOOTER ------------------------------> */
footer{
    background: #1b2a4e;
    min-height: 100px;
}

footer p {
    color: #f3f3f3;
    text-align: center;
} 
#iconos i {
    font-size: 26px;
    padding: 8px 8px;
    color: #f3f3f3;
}

