*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x:hidden;
}

#menu li > a {
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
}
#menu form > button{
    font-size: 18px;
    font-weight: bold;
}
.carousel-item{
    max-height: 35rem;
}
    
/* MEDIA QUERIES PANTALLA SM */
@media (max-width:768px) {
    #intro {
        width: 90% !important;
    }
    #bg-contacto {
        position: relative;
        top: -110px;
    }
}

#bg-contacto {
    position: relative;
    top: -130px;
}
#seccion-contacto{
    background-color: #1b2a4e;
    min-height: 500px;
    position: relative;
}